
body{
    background-color:#909396;
}

.wrapper{
    margin:0 auto;
    width:1000px;
}

/*menu*/
nav.menu ul {  
    list-style-type: none; 
    margin:0px;
    padding:0px;
    

}

nav.menu ul li{
    display:block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
    position: relative;
    left: 1%;
}
   



nav.menu li{
   display: inline;
}

nav.menu li a{
   text-decoration:none;
   padding-left:4px;
   padding-right:4px;
   color:white;
   background: #909396;
}

nav.menu ul li a {
    text-decoration: none;
    color: white;
    padding:5px 20px;
    display:block;
}

nav.menu li a:hover{
    background-color:white;
    color:#ADD5F6;

} 

nav.menu ul ul{
    display:none;
    position: absolute;
}

nav.menu ul li:hover > ul{
    display: block;
}


/*imagens*/
@media only screen and (min-width:100px) {


    .img-info{
        width: 50%;
        float: left;
        position: right;
        left:25%;
    }


    
    .img-info p {
        text-align: left; 
        line-height:25px;
        margin:15%;  
        position: right;

    }

/*redes sociais*/

section{
    margin:20px auto;
    width:1025px;
    height:150px:
}

.rede{
    width:70px;
    height:60px;
    float:right;
    margin-left:10px;
    transition:all 0.4s ease-out;
    border-radius:50%;
    padding:10px;
    margin-top:300px;
    position: absolute;
}

#Facebook{
    position: absolute;
    padding:40px;

}

#Email{
    position:absolute;
    padding:40px;
    left:20%;
}

.icone{
    margin:0px auto;
    padding:15px;
    width:25px;
    
}

/*sobre mim*/
#p{
    text-indent: 20px;
    line-height: 200%;
    top:30%;
    left:30%;
    position: absolute;
}

.img_sobremim{
        border: 1px solid black;
        width: 25%;
        height: 150px;
        top:25%;
        left:3%;
        position: absolute;
}